* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body {
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
				font-size:1.2em;
				line-height:1.4;				
				background:#FFF;
				overflow-X:hidden;
				width:100%;
			}
			
			body{
				align-items:start;
				display:flex;
				height:100vh;
				overflow:hidden;
			}
			
			nav{
				background:#F9F9F9;
				border-right:1px solid #EDEDED;
				height:100vh;
				padding:0;
				transition:all 0.4s ease;
				width:18em;
			}
			label[for="slide"]{display:none}
			#slide + nav{ margin-left:0px; }
			#slide:checked + nav {margin-left:-18em;}
	
			nav img{display:block;margin:2rem 2rem 0;width:calc(100% - 4rem)}
			
			
			main{
			display:block;
			flex:0px;
			height:100vh;
			padding:5em 6em;
			position:relative;
			overflow:hidden;
			overflow-Y:auto;
			}
			
			main label[for="slide"]{
				font-size:3.5rem;
				left:2rem;
				line-height:1;
				top:1rem;
				position:absolute;
				display:block;
				width:100%
			}
			
			section{
				line-height:1.4;
				margin:auto;
				max-width:1024px;
				width:100%;
			}

			.flex{
				align-content:start;
				align-items:start;
				border-bottom:0.25rem solid #ccc;
				display:flex;
				gap:2rem;
				justify-content:space-between;
				margin:1rem 0
			}
			
			.lisub{
				display:block;
				padding-top:0.25rem;
				text-align:right;
				width:9.5rem
			}
			
			h1{line-height:1.27;margin:0 0 0.5rem;}
			
			h2,h3,h4,h5{font-size:1.75rem; margin: 1rem 0}
			p{margin:1.5rem 0 0;}
			
			.lisub{
				display:flex;
				gap:0.5rem;
				justify-content:flex-end;
				padding-top:0.25rem;
				text-align:right;
				width:9rem
			}
			
			.lisub a{
				text-decoration: none;
			}
			
			.bi-linkedin,
			.bi-substack,
			.bi-github,
			.bi-twitter-x{
				color:#000000;
				font-size:1.75rem
			}
			
			ul,ol{
				margin: 1rem 0;
				padding:0 1.5rem;
			}
			ol li{padding-bottom:0.5rem;}
						
			nav menu,
			nav ul{list-style:none;margin:0; padding:2rem 2rem 0}
			nav li{min-height:2rem;align-items:center;display:flex; gap:1rem;}
			nav li:first-of-type{font-size:1.35rem;border-bottom:1px solid #ccc;margin-bottom:0.5rem;padding-bottom:0.35rem}
	
			nav ul li .bi{font-size:2rem}
			
			hr{
				border:none;
				background-color:#CCC;
				height:2px;
				margin:3rem 0 1rem;
			}
			
			.footer{text-align:center;}
			
			@media (max-width:1360px){	
				nav{width:400px;}
				#slide:checked + nav {margin-left:-400px;}
				main{ padding:3rem; }
				
			}	

			@media (max-width: 1024px) {
				body{
					font-size:1em;
				}
				
				nav{box-shadow:0 0 0.25rem 0.25rem rgba(0,0,0,0.125); position:fixed;top:0;width:330px;z-index:9;}
				label[for="slide"]{display:block; width:100%}
				#slide:checked + nav {margin-left:-340px;}
				main{ padding:4rem 2rem; }
				h1{font-size:1.75em;margin:0;}
			}