/* =========================
   VARIABLES
========================= */

:root {
  /* COLOURS */
  --background-color:#f8f5e7;
  --header-background-color:#462d0e;
  --text-color:#462d0e;
  --header-text-color:#f8f5e7;
  --header-border-color:#f8f5e7;
	--border-color:#462d0e;
	
  /* Typography */
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: "Inter", sans-serif;
  --font-serif: "Times", serif;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 6rem;

  /* Layout */
  --max-width: 1024px;
  --max-width-wide: 1220px;

  /* Effects */
  --shadow-soft: 0 0.5rem 0.25rem -0.25rem rgba(0,0,0,0.175);
}


/* =========================
   RESET / BASE
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:var(--background-color);
  color:var(--text-color);
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.4;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: var(--color-link);
}

p {
  margin: var(--space-md) 0;
}

p:last-of-type {
  margin-bottom: 0;
}

ol {
  margin: var(--space-lg);
}


/* =========================
   TYPOGRAPHY
========================= */

h1, h2, h3, h4, h5, h6 {
  border-left: 0.5rem solid var(--border-color);
  font-family: var(--font-heading);
  font-size: 175%;
  line-height: 1.2;
  margin: var(--space-md) 0;
  padding-left: var(--space-sm);
  text-transform: uppercase;
}

h1 {
	border-left: 0.5rem solid var(--header-border-color);
  margin-top: 0;
}

blockquote {
  border-left: 0.5rem solid #e9ddaf;
  font-family: var(--font-serif);
  font-size: 105%;
  margin: var(--space-md) 0 var(--space-md) var(--space-lg);
  padding-left: var(--space-sm);
}


/* =========================
   LAYOUT
========================= */

main {
  padding: 0 5vw;
}

section {
  margin: 0 auto var(--space-xl);
  max-width: var(--max-width);
  width: 100%;
}

header {
  background:var(--header-background-color);
  box-shadow: var(--shadow-soft);
  color:var(--header-text-color);
  padding: var(--space-lg) 5vw 0;
  
}

header section {
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: center;
  max-width: var(--max-width-wide);
}

header img{
	display:block;
	width:100%;
}

header a{
	border:none;	
	font:inherit;
	padding:0.5rem 1rem;
}

footer {
  border-top: 1px solid;
  font-size: 75%;
  margin: auto;
  margin-bottom: var(--space-lg);
  max-width: var(--max-width);
  padding: var(--space-sm) 5vw;
  text-align: center;
}


/* =========================
   NAVIGATION
========================= */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) 5vw;
}

.nav-logo {
  font-size: 250%;
  font-family: var(--font-heading);
  font-weight: 900;
}

.navbar {
  display: flex;
  gap: var(--space-sm);
  font-size: 95%;
}

nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.7rem;
  border: 1px solid;
  border-radius: 2.25rem;
}

nav a svg {
  height: 1.25rem;
  display: block;
}


/* =========================
   FORMS
========================= */

form {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--space-xl);
}

label,
input,
select,
textarea {
  font: inherit;
  width: 100%;
}

label {
  display: block;
  margin-top: var(--space-sm);
}

input,
select,
textarea {
  border: none;
  border-bottom: 1px solid;
  padding: var(--space-xs);
}

form ul {
  list-style: none;
}

form ul li {
  margin-bottom: var(--space-sm);
}

form button[type="submit"] {
  border: none;
  border-radius:0;
  box-shadow: 0 4px 4px rgba(0,0,0,0.15);
  font:inherit;
  padding: var(--space-sm) var(--space-lg);
  margin-top: var(--space-xs);
}


/* =========================
   TABLES
========================= */

.table-container {
  margin-top: var(--space-md);
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  margin-bottom: var(--space-xs);
}

thead {
  
}

th, td {
  font-size: 85%;
  padding: var(--space-xs);
  border: 1px solid;
  text-align: left;
  vertical-align: top;
}

th {
  text-align: center;
}

tbody tr:nth-child(odd) {
 
}


/* =========================
   RESPONSIVE TABLE
========================= */

@media (max-width: 900px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45%;
    font-weight: bold;
  }

  td:nth-of-type(1)::before { content: "Legal Instrument"; }
  td:nth-of-type(2)::before { content: "Decision & Outcome Traceability"; }
  td:nth-of-type(3)::before { content: "Identifiable Authorisation"; }
  td:nth-of-type(4)::before { content: "Recorded Authority"; }
  td:nth-of-type(5)::before { content: "Basis at Time of Decision"; }
  td:nth-of-type(6)::before { content: "Legal / Contractual Permission"; }
}


/* =========================
   ACCORDION
========================= */
.accordion-tigger{
	display:block;
	height:4rem;
	padding:0.5rem 1rem;
	text-align:left;
	width:100%;
}

.accordion-tigger h3{
  border-left: unset; 
  font-family: var(--font-heading);
  font-size: 110%;
  line-height:1;
  margin:0;
  padding-left: 0;
  text-transform: uppercase;
}

.accordion-panel{
	padding:1rem 0;
}

/* =========================
   BREAKPOINTS
========================= */

@media (max-width: 1100px) {
  body { font-size: 1rem; }

  nav {
    justify-content: center;
    flex-wrap: wrap;
  }

  .navbar {
    justify-content: center;
    width: 100%;
  }

  form {
    display: block;
  }

  form ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-sm);
    margin-top: var(--space-lg);
  }
}

@media (max-width: 1024px) {
  header {
    padding: 7vw 5vw 0;
  }

	header section{
		  grid-template-columns: 1fr;
		  padding-bottom: var(--space-lg);
	}
	
  header img {
    display: none;
  }

  section {
    margin-bottom: var(--space-lg);
  }
}

@media (max-width: 600px) {
  body { font-size: 0.9rem; }

  form ul {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  p {
    margin: var(--space-sm) 0;
  }
}