* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{	
	background:#5E42A6;
	color:#E4D9E8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.15rem;
	font-weight:400;
	line-height:1.4;
}
				
h1,h2,h3,h4,h5,h6{
	color:#FFF;
	line-height:1.2;
	margin-bottom:2rem;
	text-transform:uppercase;
}

h2,h3,h4,h5,h6{
	font-size:2.5rem;
}
		
p{
	margin:2rem 0;
}

ol{
	margin:2rem;
	padding:0;
}

nav{
	background:#312450;
	font-size:1rem;
	height:100vh;
	padding:2rem;
	position:fixed;
	text-align:center;
	text-transform:uppercase;
	top:0;
	width:400px;
}
		
nav ul{		
	list-style:none;
	margin:4rem 0;
	padding:0;
	text-align:right;
	text-transform:uppercase;
}
		
nav ul li{
	margin-bottom:2rem;
}

nav ul li a{
	background:linear-gradient(to right,#3C2C62, #3C2C62) left bottom / 100% 3px no-repeat;
	display:block;
	color:#FFF;
	padding-bottom:1rem;	
	text-decoration:none;
}
		
nav ul li a:hover{
	 background: linear-gradient(to right, #6443A5, #B54E91) left bottom / 100% 3px no-repeat;
}
		
nav ul li a.active{
	 background: linear-gradient(to right, #B54E91, #B54E91) left bottom / 100% 3px no-repeat;
}

main{
	font-size:1.6rem;
	margin-left:400px;
}

section{
	height:100%;
	min-height:100vh;
	padding:6rem 8rem;
}

section:nth-child(1){
	background:#5E42A6;
	background-image:URL(intro.svg);
}

section:nth-child(2){
	background:#933E75
}

section:nth-child(3){
	background:#493382
}

section:nth-child(4){
	background:#933E75
}

section:nth-child(5){
	background:#493382
}

section:nth-child(6){
	background:#933E75
}

section:nth-child(7){
	background:#493382
}

main section:nth-child(5) div{
	display:grid;
	gap:4rem;
	grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));
}
		
main section:nth-child(2) ul,		
main section:nth-child(4) ul,
main section:nth-child(5) ul,
main section:nth-child(6) ul{
	list-style:none;
	margin:0;
	padding:0;
}


main section#s6 ul li{
	border-left:10px solid rgba(255,255,255,0.25);
	padding-left:15px;
	margin-bottom:1rem
}

main section#s8 ul li ul li{
	background:unset;
	border-left:unset;
	padding-left:unset;
	margin-bottom:unset;
	margin-left:0;
	width:100%
	
}

main section:nth-child(2) .category{
	background:rgba(0,0,0,0.1);
	border:1px solid rgba(255,255,255,0.25);
	display:grid;
	column-gap:2rem;
	grid-template-columns:3fr 1fr;
	margin-bottom:2rem;
	padding:1rem 1.5rem;
}

main section:nth-child(2) .category ol{
	margin:1rem;
	padding:0 1.5rem;
}

main section:nth-child(2) .category ol a{
	color:#E4D9E8;
}

main section:nth-child(2) .category ol a:hover{
	color:#FFF;
}

main section:nth-child(4) ul li,
main section:nth-child(6) ul li{
	background:rgba(0,0,0,0.1);
	border-left:10px solid #B74E90;
	margin-bottom:2rem;
	padding:1rem 1.5rem; 
	width:80%;
}

main section:nth-child(4) ul li:nth-child(even),
main section:nth-child(6) ul li:nth-child(even){
	margin-left:20%;
}
		
button{
	border-radius:2.75rem;
	background:rgba(255,255,255,0.45);
	border:1px solid rgba(255,255,255,0.75);
	cursor:pointer;
	display:inline;
	font:inherit;
	height:5rem;
	line-height:5rem;
	margin:auto;
	padding:0 2.5rem;
}

button:hover{	
	background:rgba(255,255,255,1);
	border:1px solid rgba(255,255,255,0.35);	
}
		
form{			
	display:grid;
	gap:4rem;
	grid-template-columns:2fr 1fr;
	margin-top:2rem;
	width:100%			
}
		
form label{
	display:block;	
	margin-bottom:0.5rem;
}
		
form input,
form textarea,
form select{
	background:rgba(255,255,255,0.4);
	border:1px solid rgba(255,255,255,0.75);
	border-radius:0.5rem;
	display:block;	
	font:inherit;
	font-size:1.3rem;
	margin-bottom:1rem;	
	padding:0 0.5rem;	
	width:100%
}
		
form input,
form select{			
	height:3.5rem;
}
	
.contact{
	list-style:none;
	margin:0;
	padding:0;
}
	
.contact li{
	margin-bottom:2rem
}

.contact a{color:#FFF}
	
article, .faux-table{
	background:rgba(255,255,255,0.1);
	margin-bottom:2rem;
	padding:1rem 1.5rem
}

article{
	padding:1.5rem 2rem;
	margin-bottom:0;
}
		
.faux-table li{
	border-bottom: 1px solid #493382;
	display:grid;
	gap:1rem;
	grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));	
	margin-bottom:0;
	padding:2rem 1rem;	
}
		
.faux-table li:last-of-type{
	border-bottom: unset;
	padding:2rem 1rem 1rem;	
}
		
#s4 strong, article strong,.faux-table li strong{
	font-size:115%;
}
	
.price{
	text-align: right;
}	
	

#panel-slide + #panel{
	background:#312450;
	bottom:0;	
	position:fixed;
	right:0;
	top:0;
	transform: translateX(100%);
	transition: transform 0.3s ease; 
	width:100%;
}

#panel-slide:checked + #panel{
	transform: translateX(0);
}


#panel .close{	
	font-size:3rem;
	padding:0;
	position:absolute;
	right:2.5rem;
	top:1.5rem;	
}
	
#panel-content{	
	font-size:1.6rem;
	height:85vh;
	margin:10vh auto 5vh;
	max-width:1220px;
	overflow:hidden;
	overflow-y:auto;
	padding:0 2rem;
}

#panel-content ul{
	margin:1.5rem;	
}

#panel-content section{
	height:unset;
	padding:3rem;
}


#no-cookies-banner {
	font-size:1.35rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background:#211834;
	color:#E4D9E8;
	padding: 3rem 1rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.25);
	z-index: 9999;
	text-align:center;
	transform: translateY(100%);
	transition: transform 0.3s ease;
}

#no-cookies-banner.show {
  transform: translateY(0);
}

.cookie-content {
  max-width: 820px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.cookie-buttons button {
  margin-right: 8px;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cookie-accept {
  background: #3fa95a;
  color: #fff;
}

#cookie-reject {
  background: #444;
  color: #fff;
}

.hidden { display: none; }

[target="_blank"]{
	color:#FFF;
}

@media (max-width:1700px){
	main,#panel-content{
		font-size:1.5rem;
	}
	section{
		padding:4rem;
	}	
}
		
@media (max-width:1280px){
	h1{font-size:2.5rem;}
	h2,h3,h4,h5{
		font-size:2rem;
	}

	nav{
		font-size:1rem;
		width:320px;
	}
	
	nav ul li{
		margin-bottom:1.75rem;
	}

	main{
		font-size:1.3rem;
		margin-left:320px;
	}
	section{
		padding:3rem;
	}
	#panel-content{
		font-size:1.3rem;
	}
}

@media (max-width:1024px){
	h1{font-size:2rem;}
	h2,h3,h4,h5{
		font-size:1.75rem;
	}
	
	nav{
		left:-320px
	}
	main{
		font-size:1.1rem;
		margin-left:0px;
	}
	#panel-content{
		font-size:1.1rem;
	}
}

@media (max-width:650px){
	h1{font-size:1.75rem;}
	h2,h3,h4,h5{
		font-size:1.5rem;
	}
	nav,main,#panel-content{
		font-size:1rem;
	}
}