* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{	
	background:#cacec8;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-size: 1.3rem;
	font-weight:400;
	line-height:1.4;
	overflow-x:hidden;
	width:100%;
}
				
h2,h3,h4,h5,h6{
	color:#000;
	line-height:1.2;
	margin-bottom:2rem;
	text-transform:uppercase;
}

		h1{
			font-size: 1.3rem;
	font-weight:400;line-height:1.4;
		}
		
p{
	margin:2rem 0;
}

p:last-of-type{
	margin:2rem 0 0;	
}

ol{
	margin:2rem;
	padding:0;
}

a{
	color:#0000A8;
}

nav{
	align-items:center;	
	display:flex;	
	height:4.5rem;
	padding:0 4rem;
}

header{
	display:flex;
	column-gap:2rem;
	justify-content:flex-end;
	margin:2rem 8rem;
}

header a{
	background:#B7BFB5;
	border-radius:1rem;
	box-shadow: 2px 2px 8px 2px #0003;	
	display:flex;
	font-size:90%;
	gap:0.75rem;
	padding:0.5rem 1rem;
	text-decoration: none;
}

header a svg{
	width:1.5rem;
}

section{
	margin:4rem 8rem 12rem;
}

section:first-of-type{
	margin:2rem 8rem 4rem;	
}

section:last-of-type{
	margin:4rem 8rem 4rem;	
}

footer{
	border-top:1px solid #B7BFB5;
	font-size:75%;
	margin:auto;
	margin-bottom:2rem;	
	max-width:1024px;
	padding:1rem;
	width:100%;
	text-align:center;
}

footer p{
	margin:1rem 0;
}

.default{
	background: #e7ff6c;
	border-radius:1.5rem;
	box-shadow: 2px 2px 8px 2px #0003;
	padding:3rem;
	margin-bottom:3rem;
	width: 65%;
}

.default:nth-of-type(even){
	margin-left:35%;
}

.hero{
	background:#222;
	color:#FFF;
	display:flex;
	column-gap:3rem;	
	padding:0;
	text-transform:uppercase;
	width:100%;
}

.hero-text{
	align-content:center;
	display:grid;
	font-family:"Raleway", sans-serif;
	font-optical-sizing: auto;
	font-size:450%;	
	font-style: normal;
	font-weight: 200;
	height:35vw;
	line-height:1;	
}

.hero-text small{
	border-bottom:2px solid #e7ff6c;
	font-size:50%;	
	font-weight:600;
	padding-bottom:1.2rem;
	margin-bottom:1.2rem;
}

.hero-img{
	border-radius:1.5rem;
	margin-top:2vw;
	height:33vw;	
}

.carousel-holder{
	display:grid;
	gap:4rem;
	grid-template-columns:repeat(2,1fr);
}

.carousel{	
	background:#B7BFB5;
	border-radius:1rem;
	box-shadow: 2px 2px 8px 2px #0003;
	display:grid;
	gap:2rem;
	grid-template-columns:1fr 2fr;
	padding:1.5rem;
}

.carousel img{
	display:block;
	width:100%;
}


.carousel p,
.carousel p:last-of-type{
	margin:1rem 0;
}

#what-i-do{
	
}

form{
	display:grid;
	gap:4rem;
	grid-template-columns:3fr 2fr;
}


label,
input,select,textarea{
	font:inherit;
	 width:100%
}

label{
	display:block;
	margin-top:1rem;
}

input,select,textarea{
	background:rgba(255,255,255,0.15);
	border:none;
	border-bottom:1px solid;
	padding:0.5rem;	
}

form ul{
	list-style:none;
	margin:0;
	padding:0;
}

form ul li{
	margin-bottom:1rem
}

form button[type="submit"]{
	background: #e7ff6c;
	border:none;
	border-radius:1rem;
	box-shadow:0 4px 4px rgba(0,0,0,0.15);
	font:inherit;
	margin-top:0.5rem;
	padding:1rem 2rem;
}

h2,h3,h4,h5{
	font-size:450%;
	font-weight: 900;
}

@media (max-width:1500px) {
	section{		
		margin:4rem 4rem 8rem;
	}

	.hero{
		column-gap:2rem;	
	}
		
}

@media (max-width:1460px) {

	.default{
		padding:2rem;
		width:80%;
	}
	
	.hero{
		padding:0;
		width:100%;
	}
	
	.default:nth-of-type(even){
		margin-left:20%;
	}
	
	h2,h5,.hero-text{
		font-size:350%	
	}
}

@media (max-width:1024px) {
	
	body{	
		font-size: 1rem;
	}
	
		p{
	margin:1.5rem 0;
}

p:last-of-type{
	margin:1.5rem 0 0;	
}

	header{
		margin:2rem 6rem;
	}
	
	section{		
		margin:2rem 2rem 6rem;
	}
	
	section:first-of-type, 
	section:last-of-type {
		margin:2rem 2rem;	
	}



	.hero-text{
		font-size:325%	
	}
	
	.default,
	.default:nth-of-type(even){
		margin-bottom:2rem;
		margin-left:0;
		padding:1.5rem;
		width:100%;
	}
	
	.hero{
		padding:0;
		width:100%;
	}
	
	.carousel-holder{
		display:grid;
		gap:4rem;
		grid-template-columns:1fr;
	}
	h2,h3,h4,h5{
		font-size:350%	
	}
	
	form{
		display:block;
	}
	
	form ul{
		align-items:start;
		align-content:start;
		display: grid;
		gap:1rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		margin-top:2rem;
	}
}


@media (max-width:800px) {
	section,		
		section:first-of-type, 
	section:last-of-type {
		margin:2rem;	
	}
	
	header{	
		display:none;
	}
	
	.default{
		border-radius:.75rem;
		padding:1rem;
	}
	.hero{
		padding:0;
		width:100%;
	}
	.hero-text{
		font-size:200%	
	}
	
	.hero-text small{
		padding-bottom:0.75rem;
		margin-bottom:0.75rem;
	}
	.carousel-holder{
		gap:2rem;
	}	
	.carousel{
		border-radius:.75rem;
	}
	

}

@media (max-width:600px) {
	
	body{	
		font-size: 0.9rem;
	}
	
	section,		
	section:first-of-type, 
	section:last-of-type {
		margin:1rem;	
	}
	
	h2,h3,h4,h5{
		font-size:200%	
	}
	form ul{
		align-items:start;
		align-content:start;
		display: grid;
		gap:0rem;
		grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

	}
	
	p{
	margin:1rem 0;
}

p:last-of-type{
	margin:1rem 0 0;	
}
}
